<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list">
            {% for art in art_list %}
            <li><a href="/user/user_news_release?title={{ art.title }}">{{ art.title }}</a><span>{{ art.time }}</span></li>
            {% endfor %}
        </ul>
        <div id="pagination" class="page"></div>
        <script>
            // 调用父页面的方法改变菜单指示
            // window.parent.fnChangeMenu(2);

            $(function(){
                $("#pagination").pagination({
                    currentPage: {{ page }},
                    totalPage: {{ total_page }},
                    callback: function(current) {
                        location.href='?page='+current
                    }
                });
            });
        </script>
       
    </div>
<script>
    $(function(){
        var $li = $('.option_list li', window.parent.document);
        $li.eq(5).addClass('active').siblings().removeClass('active');
    })
</script>
</body>
</html>